[Unit]
Description=IoT Microservices

[Service]
User=openecs
WorkingDirectory={{app_home}}
ExecStart={{app_dest_dir}}/bin/startup.sh
SuccessExitStatus=0
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
KillSignal=2

[Install]
WantedBy=multi-user.target